# 忽略PyCharm配置文件
.idea/

# 忽略Python编译缓存
__pycache__/
*.py[cod]
*$py.class

# 忽略模型检查点（.pth文件）和训练生成的权重
shichu/checkpoints/

# 忽略预测结果和日志
shichu/predictions/
shichu/results/

# 忽略数据集（如果需要上传数据集可删除这行）
# shichu/mini_dataset/